<div>
    <div  *ngIf="messageEle == 'info' &&  true == isShown " class="isa_info">
      Replace this text with your own text.
    </div>
    <div  *ngIf="messageEle == 'Success' &&  true == isShown " class="isa_success">
      Employee info succussfully deleted.
    </div>
    <div  *ngIf="messageEle == 'warning' &&  true == isShown " class="isa_warning">
      Replace this text with your own text.
    </div>
    <div  *ngIf="messageEle == 'error' &&  true == isShown "  class="isa_error">
      Replace this text with your own text.
    </div>
  </div>
  <table>
    <thead>
       <tr>
           <th>ID</th>
           <th>Name</th>
           <th>Designation</th> 
           <th>Address</th>
           <th>View</th>
           <th>Edit</th>
           <th>Delete</th>
       </tr>
    </thead>
    <tbody>
            <tr  *ngFor="let emp of (employeesList$ | async)">
                <td>{{emp.id}}</td>
                <td>{{emp.name}}</td>  
                <td>{{emp.role}}</td>
                <td>{{emp.address}}</td>
                <td>{{emp.id}}</td>
                <td> <button  (click)="EditEmp($event, emp)">Edit</button></td>
                <td> <button  (click)="DeleteEmp($event, emp)">Delete</button></td>
               
            </tr> 
       
        <ng-template #noData>No Data Available</ng-template>
    </tbody>
</table>